
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
img{
    border: none;
}
input{
    outline: none;
}
/*body中的字体大小采用em设置，因此必须指定body的fontsize百分比，然后通过js控制该百分比来控制整体字体大小*/
body{
    font-size: 10%;
}
/*viewport*/
.viewport{
    width:100%;
    height: 100vh;
    position: relative;
    overflow-x:hidden;
    overflow-y: scroll;
}
.gotop{
    display: none;
}
.QRcode{
    display: none;
}
.QRcode{
    width:150px;
    height:180px;
    position: fixed;
    display: none;
    left:50%;
    margin-left: 300px;
    bottom:100px;
    background: darkorange;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    cursor: pointer;
}
.QRcode>div:first-child{
    width:100%;
    height:30px;
    position: relative;
    font-family: "微软雅黑";
    font-size: 8em;
    color: white;
    line-height: 30px;
    text-align: center;
}
.QRcode>div:last-child{
    width:100%;
    height:140px;
    position: relative;
    padding:5px;
}
.QRcode>div:last-child img{
    width:140px;
    height:140px;
}
/*header*/
header{
    width:100%;
    height:40px;
    top: 0;
    position: fixed;
    background: white;
    z-index: 999;
    line-height:40px;
}
header a{
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12em;
    color: darkorange;
    margin-left: 12px;
    text-decoration: none;
    cursor: pointer;
}
.nav{
    width:100%;
    height:48px;
    position: fixed;
    background: darkorange;
    top:40px;
    z-index: 999;
}
.nav_list{
    width:25%;
    height:48px;
    position: relative;
    float: left;
    text-align: center;
    cursor: pointer;
}
.nav_list img{
    height:20px;
    position: relative;
    margin-top: 6px;
}
.nav_list a{
    position: absolute;
    left:50%;
    margin-left: -2em;
    bottom:2px;
    font-family: "微软雅黑";
    font-size: 6em;
    color: white;
}
#nav_list03{
    background: rgb(234, 120, 0);
}
.content{
    width:100%;
    min-height: calc(100vh - 88px);
    position: absolute;
    top:88px;
    background: rgb(211,211,211);
}
.product01{
    width:100%;
    height:150px;
    position: relative;
    background: white;
    margin-top: 3px;
    cursor: pointer;
}
.product01_title{
    width:90%;
    height:35px;
    line-height:35px;
    margin:0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-family: "微软雅黑";
    font-size: 8em;
    color: #000;
}
.product01_img{
    width:100%;
    height:150px;
    text-align: center;
}
.product01_img img{
    width:48%;
    height:110px;
}
.product02{
    width:100%;
    height:160px;
    position: relative;
    margin-top: 3px;
    cursor: pointer;
}
.product02_title{
    width:100%;
    height:40px;
    position: absolute;
    background: rgba(0,0,0,.6);
    bottom:0;
    line-height:40px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 40px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "微软雅黑";
    font-size: 8em;
    color: white;
}
.product02_img{
    width:100%;
    height:160px;
}
.product02_img img{
    width:100%;
    height:160px;
}